@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AvailabilityMonitoring-Extension-MonitoredAppSample</h1>
    <p>Azure Monitor rocks!</p>
</div>
